<body style="width: 100%; margin: 0">
<h1>More soon.............</h1>
<div style="
    position: absolute;
    bottom:0px;
    left: 50%;
"><p style='position:relative;left:-50%'>Powered by MOKER | 2020</p></div>
</body>
