/*Css code*/
body{
	background-color: black;
}

#table {
	position: relative;
	top:0;
	left: 0;
	width: 70%;
	height: 70%;
	border: 5px solid red;
	margin: 1%;
	background-color : green;
	float: left;
}
		
.seat{
	width: 20%;
	height: 15%;
	position:absolute;
}

.seat_pyramide {
	width: 13%;
	height: 10%;
	position:absolute;
}

.card{
	width: 60%;
	height: 100%;
	margin: 0;
	margin-top: auto;
	margin-bottom: 0;
	position: absolute;
	bottom: 0;
	z-index: 0;
}

.card_hover{
	position: absolute;
	width: 90%;
	height: 150%;
	z-index: 1;
}

.card_pyramide_hover {
	position: absolute;
	width: 135%;
	height: 225%;
	z-index: 1;
}
