#players_cards{
	width: 70%;
	height: 20%;
	border: 5px solid red;
	margin: 1%;
	background-color: blue;
	float: left;
	bottom: 0;
	left: 0;
	position: relative;
}

.control_button{
	width: 45%;
	height: 10%;
	float: left;
	margin: 2%;
}

.card_in_hand {
	transition: bottom .2s;
	bottom: 0%;
	height: 100%;
	position: absolute;
}

.card_in_hand_hover {
	bottom: 20%;
	height: 100%;
	position: absolute;
}



#current_card {
	width: 20%;
	height: 28%;
	border: 5px solid red;
	margin: 1%;
	float: left;
	background-color: yellow;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.frontback_face{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.front_face{ background-color: white;}

.back_face{ 
	background-color: white;
	transform: rotateY(180deg);
}

#current_card.is-flipped{transform: rotateY(180deg);}


#name_input_ding {
	float: left;
	width: 20%;
	height: 9%;
	margin: 1%;
	background-color: orange;
	border: 5px solid red;
}

#players_choice {
	float: left;
	width: 20%;
	height: 5%;
	margin: 0%;
	margin-left: 1%;
	margin-bottom: .5%;
	background-color: orange;
	border: 5px solid red;
}

#controls{
	float: left;
	width: 20%;
	height: 20%;
	margin: 1%;
	background-color: blue;
	border: 5px solid red;
}

#debug_buttons{
	float: left;
	width: 20%;
	height: 20%;
	margin: 1%;
	background-color: blue;
	border: 5px solid red;
	visibility : none;
}


#container {
	margin: 0;
	padding: 0;
	width: 95vh;
	height: 95vh;
	padding-bottom: 1;
	border: 5px dotted yellow;
}


body{
	background-color: black;
}